/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap");

.App {
  font-family: "Source Code Pro", monospace;
  color: #f5f5f5;
}

.socials-wrapper,
.email-wrapper {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 1rem;

  width: 100px;
  position: fixed;
}
.socials-wrapper {
  right: 0;
}
.email-wrapper {
  bottom: 0;
}
.socials-before-line,
.email-after-line {
  background-color: rgba(245, 245, 245, 0.6);
  height: 250px;
  border-width: 0;
  width: 2px;
}

/* Text Colors */
.wt {
  color: #f5f5f5;
}
.dt {
  color: rgba(245, 245, 245, 0.6);
}
.bt {
  color: #00c2ff;
}

/* Text Sizes */
.fs-xxl {
  font-size: 46px;
}
.fs-xl {
  font-size: 32px;
}
.fs-lg {
  font-size: 25px;
}
.fs-md {
  font-size: 22px;
}
.fs-sm {
  font-size: 18px;
}
.fs-xs {
  font-size: 16px;
}

/* Text Decoration */
.bold {
  font-weight: bold;
}
.lh {
  line-height: 1.75;
}

.heading {
  margin-bottom: 2.5rem;

  display: grid;
  grid-template-columns: 0.25fr auto 3fr;
  gap: 1rem;
  align-items: center;
}
.heading-before-line,
.heading-after-line {
  background-color: #2b2b2b;
  height: 2px;
  border-width: 0;
  width: 100%;
}

.secondary-font {
  font-family: "Roboto Mono", monospace;
}
